@import 'variables';

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Open Sans";
}

body {
    color: $gray;
    overflow-x: hidden;
    font-weight: normal;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import 'layout';
@import 'header';
@import 'form-fields';

@import 'auth/signin';
@import 'auth/signup';

@import 'common/page-title';
@import 'common/details';
@import 'common/quantity';
@import 'common/green-price-tag';

@import 'account/account';
@import 'account/account-information';
@import 'account/purchase-history';

@import 'shop/shop';
@import 'shop/shop-search-bar';